@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
.first-section {
  background-image: url(/assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
}

.section-image {
  display: flex;
  justify-content: center;
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-family: Azeret Mono;
  color: rgb(13, 19, 33);
  font-size: 35px;
}

.section-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: Azeret Mono;
  width: 50%;
  margin: auto;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  background-color: black;
  color: azure;
  padding: 20px;
  border-radius: 8px;
  font-size: larger;
  font-weight: 400px;
}

/* second-section */

.second-section {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* third section  */

.third-section{
  padding: auto;
  font-family: Azeret Mono;

}

