@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
.first-section {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
}

.section-image {
  display: flex;
  justify-content: center;
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-family: Azeret Mono;
  color: rgb(13, 19, 33);
  font-size: 35px;
}

.section-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: Azeret Mono;
  width: 50%;
  margin: auto;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  background-color: black;
  color: azure;
  padding: 20px;
  border-radius: 8px;
  font-size: larger;
  font-weight: 400px;
}

/* second-section */

.second-section {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* third section  */

.third-section{
  padding: auto;
  font-family: Azeret Mono;

}
.fourth-section{
  font-family: Azeret Mono;
  gap: 20px;
  
}
.parent{
  display: flex;
  flex-direction:row;
  gap: 5px;
 
}
.container{
  
  border: 1px solid black;
  background-color: #255;
  padding: 30px;
  row-gap: 15px;
  border-radius: 30px;
}
.input-btn{
  display: flex;

  justify-content: center;
  padding-top: 13px;
 
 
  
}
/* .section title and description h1{
  text-align: center;
  background-color: rgb(115, 61, 22);
} */

.fifth-section{
  /* background-color: aquamarine; */
  background-image: url(../assets/handshake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 440px;
}
.section-head h3{
  text-align: center;
  padding-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 40px;
}
.section-head p{
  text-align: center;
  padding-top: -40px;
  font-size: 20px;
}
.main-footer{
  display: flex;
  justify-content:space-between;
  align-items: center;
}